body {
    background-image: url('media/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: serif;
    animation: change 10s infinite ease-in-out;
    animation-delay: 5s;
}

@keyframes change {
    0%{
        background-image: url('media/background.png');
    }
    25%{
        background-image: url('media/background2.png');
    }
    50%{
        background-image: url('media/background2.png');
    }
    65%{
        background-image: url('media/background2.png');
    }
    80%{
        background-image: url('media/background.png');
    }
    100%{
        background-image: url('media/background.png');
    }
}

nav ul {
    position: fixed;
    top: 40px;
    height: 30px;
    list-style-type: none;
    right: 40px;
    padding: 0;
    z-index: 120;
    margin-top: 20px;
}

nav li {
    float: left;
    width: 140px;
    border: 0px solid orange;
    text-align: center;
}

nav li a {
    display: block;
    font-family: 'IM Fell English SC', serif;
    font-size: 150%;
    color: white;
    text-decoration: none;
  
}

.active {
    font-weight: 700;
    color: crimson;
  
}

nav li a:hover {
    font-weight: 900;
    transition: 0.3s;
}

.container {
    border: 0px solid white;
    height: 90vh;
    position: relative;
}
.moviecontainer {
    border: 0px solid gold;
    position: relative;
    top: 25%;
}

.movieimage{
    position: relative;
    border: 0px solid gray;
    width: 50%;
    text-align: center;
}

.movieimage img{
    width: 650px;
    height: auto;
}

.moviedescription{
    position: relative;
    border: 0px solid white;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 40%;
    left: 5%;
    font-family: 'IM Fell English SC', serif;
    text-align: justify;
    font-size: 110%;
    
}

.moviedescription p{
    color: whitesmoke;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.watchbtn{
    position: relative;
    background-color: maroon;
    box-shadow: 3px 3px 10px 0px black;
    text-align: center;
    border-radius: 10px;
    width: 10%;
    padding: 9px;
    left: 19%;
    margin-top: 40px;
}

.watchbtn a{
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 150%;
    font-family: 'IM Fell English SC', serif;
   transition: 0.3s;
}

.watchbtn a:hover {
    font-weight: 1000;
    color: gainsboro;
}

.videosection {
    position: relative;
    border: 0px solid white;
    top: 15vh;
    text-align: center;
    margin: auto;
    width: 1000px;
    height: 562.50px;
}

.videosection video{
    border-radius: 10px;

}

iframe{
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.cardContainer{
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    
    
}

.card{
    background-color: rgb(39, 38, 38);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 200px;
    margin: 20px;
}

.card:hover{
    background-color: black;
    transition: 0.3s;
    box-shadow: 0px 4px 2px black ;
}

.cardContainer img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.contentCard{
    padding: 10px;
    font-family: "Cabin", sans-serif;
    text-align: center;
}

.contentCard h3{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px ;
    line-height: 1.2;
    font-weight: 800;   
    border: 2px solid #666;
    border-radius: 7px;
    padding: 2px;
    color: aliceblue;
}

.contentCard h4{
    font-weight: 400;
    color: #e6e6e6;
}

.contentCard p{
    color: #e6e6e6;
    font-size: 15px;
}


@media screen 
and (min-device-width: 900px)
and (max-device-width: 1900px){

    .movieimage img{
        width:85%;
        height: auto;
    }
    
    .moviecontainer {
        border: 0px solid gold;
        position: relative;
        top: 23%;
    }
}
